.section-container{
  height: 220vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 110vh 110vh;
  position: relative;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 8px;
  padding: 2rem 3rem;
  max-width: 30rem;
}

.card h3 {
  margin: 0 auto;
  background-color: #fff;
  padding: 1rem 2rem;
  color: var(--naranjin);
  font-size: 2rem;
  border-radius: 8px;
  text-align: center;
}

.card p {
  font-size: 1.8rem;
  text-align: center;
  color: white;
}

.card--1 {
  background-color: var(--naranjin);
}

.card--1 h3{
  color: var(--naranjin);
}

.card--2 {
  background-color: var(--celestin);
}

.card--2 h3{
  color: var(--celestin);
}

.img{
  height: 60rem;
}

@media (width < 768px){
  .img{
    height: 45rem;
  }
}