body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html, body {
  overflow-x:hidden 
} 

html {
  /* 62.5% of 16px browser font size is 10px */
  font-size: 62.5%;
}

:root {
	--celestin: #A7DDFF;
  --naranjin: #FFBD59;
  --rosadin: #FFCACA;
  --moradin: #E1D1FF;
  --verdin: #DCEDC1;
}